[Desktop Entry]
Encoding=UTF-8
Name=Tgis
Comment=Tgis P2P Cryptocurrency
Comment[fr]=Tgis, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Tgis, eşten eşe kriptografik sanal para birimi
Exec=tgis-qt %u
Terminal=false
Type=Application
Icon=tgis128
MimeType=x-scheme-handler/tgis;
Categories=Office;Finance;
